# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
vendor/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/
.editorconfig

# For this project
API.http
TelegramBot.http
configs/IdTokens.php
configs/TelegramBot.php
storage/responses/*
!storage/responses/examples
