# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
vendor/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# For this project
API.http
TelegramBot.http
configs/Players.php
configs/TelegramBot.php
storage/configs/*
!storage/configs/codes
!storage/configs/examples
storage/logs
storage/responses/*
!storage/responses/examples
storage/filelocks
