# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
vendor/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# For this project
cli/Test.php
configs/Players.php
configs/TelegramBot.php
storage/others/PlayerListToCheckAlive.php
storage/AllUsers*.7z
storage/AllUsers*.tsv
